In [82]:
##functions
def hi():
    print("Hello world")

In [83]:
hi()

Hello world

 ## Using Return Statement

In [84]:
def check_positive(num):
    if num>0:
        return "it is a positive number"
    else:
        return "it is a negative number"

In [85]:
check_positive(-5)

'it is a negative number'

**default parameter**

In [86]:
def add_num(a=12,b=22): #default parameters
    return a+b

In [87]:
add_num()

34

**[*args --Variable positional arguments]**

In [88]:
def sum(*args):
    total=0
    for i in args:
        total+=i
    return total

In [89]:
sum(1,2,3,4,5)

15

**[**kwargs variable keyword arguments]**

In [90]:
def example(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [91]:
example(Name="Sricharan",Age=22,Role="Developer")

Name:Sricharan
Age:22
Role:Developer

**Unpacking arguments**

In [92]:
def add_numbers(a,b,c):
    return a+b+c
numbers = [1,2,3]

In [93]:
add_numbers(*numbers)

6

**Assignment-1**

In [94]:
def whole_fun(name, age=22,*args, **kwargs):
    print(f"Hello my name is {name} and age is {age}")
    print(f"My desginations are{args}")
    print(f"My other info are{kwargs}")

In [95]:
whole_fun("Sricharan",22,"Developer","Designer",Hobby="Gaming",Food="Pizza")

Hello my name is Sricharan and age is 22
My desginations are('Developer', 'Designer')
My other info are{'Hobby': 'Gaming', 'Food': 'Pizza'}

**lambda function and Map(),Reduce(),filter()**

**map()**

In [96]:
list1 = [1,3,4,5]
sqr_lst = []
def square(list1):        #without map function
    for i in list1:
        sqr_lst.append(i**2)
    return sqr_lst

In [97]:
sqr_lst

[]

In [1]:
nums = [2,3,5,6,7]
sqr_list = list(map(lambda x:x**2,nums)) #with map function

In [3]:
sqr_list

[4, 9, 25, 36, 49]

**Filter()**

In [16]:
scores = {'Math':90,'Science':85,'English':88}
result = dict(filter(lambda x:x[0]=="English",scores.items()))  #filter function to filter subjects with scores >=88

In [17]:
result

{'English': 88}

In [20]:
res = []
def do(scores):
    for key, value in scores.items():
        if value>=88:
            res.append((key,value))

In [21]:
do(scores)

In [22]:
res

[('Math', 90), ('English', 88)]

In [23]:
dict(res)

{'Math': 90, 'English': 88}

**reduce()**

In [ ]:
items = [1,2,3,5,6]
from functools import reduce
add = reduce(lambda x,y: x+y,items)  #reduce function to add all items in the list

In [30]:
add

17

In [ ]:
def sum(items):
    total =0
    for i in items: #using normal function
        total+=i
    return total

In [38]:
sum(items)

17